/* body {
  margin: 0;
  padding: 0;
  border: 4px solid red;
  height: 1000px;
  background-color: beige;
}
.main-container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.rest-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rest-name h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
.hr{
    color:rgb(54, 54, 237);
    width:1300px;
}
.aboutus{
    color:navy;
    font-size: 17px;
    margin-left:100px;
    font-family: Arial, Helvetica, sans-serif;
}
.aboutp{
    font-family: Arial, Helvetica, sans-serif;
    margin-left:100px;
    font-weight: 700;

} */
body {
  margin: 0;
  padding: 0;
  border: 4px solid red;
  height: 1900px;
  background-color: beige;
}

.main-container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.rest-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rest-name h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.hr {
  color: rgb(54, 54, 237);
  width: 1300px;
}

.aboutus {
  color: navy;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
.aboutus-section {
  margin-top: 20px;
  max-width: 1000px;
  margin-left: 100px;
}

.aboutp {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2;
}
.aboutp h5 {
  font-weight: 100;
  text-align: justify;
}
.history-content {
  margin-top: 10px;
  max-width: 1000px;
  margin-left: 100px;
}

.history-content ul {
  list-style-type: disc; /* Use 'disc' for filled circles, 'circle' for hollow circles, 'square' for squares, etc. */
}
li {
  margin-top: 20px;
}

.history {
  line-height: 2;
  font-family: Arial, Helvetica, sans-serif;
}
.history h5 {
  font-weight: 100;
  text-align: justify;
}

.service-section {
  color: navy;
  font-size: 17px;
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
.service-content {
  display: flex;
  margin-left: 100px;
}
.service-content1 {
  display: flex;
  margin-left: 100px;
}
.one {
  margin-left: 305px;
  color: green;
}
.two {
  margin-left: 400px;
  color: rgb(205, 66, 184);
}
.three {
  margin-left: 300px;
  color: green;
}
.four {
  margin-left: 300px;
  color: rgb(205, 66, 184);
}
.red {
  color: red;
}

.time {
  color: navy;
  font-size: 20px;
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
.time h5 {
  font-weight: 300;
}

.locations {
  color: navy;
  font-size: 20px;
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
.locations h5 {
  font-weight: 300;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  max-width: 1200px;
  margin-left: 100px;
}

table,
th,
td {
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: green;
}

tr:nth-child(2n) {
  background-color: rgb(229, 248, 229);
}

.signature-items {
  color: navy;
  font-size: 20px;
  margin-left: 100px;
  font-family: Arial, Helvetica, sans-serif;
}
.signature-items h5 {
  font-weight: 300;
}

.contacts{
    display: flex;
}
span{
    font-size:16px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}
.address{
    margin-left:850px;
}
.city{
    margin-left:853px;
}
.contacts1{
    margin-top:20px;
}
