body {
  margin: 0;
  padding: 0;
  border: 4px solid red;
  height: 1000px;
  background-color: beige;
}
.main-container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.rest-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rest-name h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
.hr{
    color:rgb(54, 54, 237);
    width:1300px;
}
.aboutus{
    color:navy;
    font-size: 17px;
    margin-left:100px;
    font-family: Arial, Helvetica, sans-serif;
}
.aboutp{
    font-family: Arial, Helvetica, sans-serif;
    margin-left:100px;
    font-weight: 700;

}
ul {
    list-style-type: disc; /* Use 'disc' for filled circles, 'circle' for hollow circles, 'square' for squares, etc. */
  }
  
  ol {
    list-style-type: decimal; /* Use 'decimal' for numeric numbering, 'lower-alpha' for lowercase alphabetical, etc. */
  }
  